.container {
  width: 1440px;
  margin: auto;
}

.bg-graydark {
  overflow: hidden;
  position: absolute;
  right: 0;
  left: 0;
  padding-bottom: 300px;
  background-color: #fbfbfb;
}

section.bg-footer {
  display: flex;
  justify-content: center;
  position: absolute;
  height: 563px;
  left: 0;
  right: 0;
  margin-top: 3250px;
  background: #f8f8f8;
}
